/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  
}
img {
  display:  block;
}
a{
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
hr {
  height: 5px;
  background-color: black;
}

/* BUTTON */
.btn {
  width: 130px;
  padding: 16px;
  border-radius: 4px;
  background-color: blueviolet;
  color : #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: black;
  color: #FFF;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}
/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #FFFFFF;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner {
  height: 120px;
}

header .logo {
  /* 높이값을 알고있어야 수직 가운데 정렬이 가능  */
  height: 40px;
  position: absolute;
  font-size: 36px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .logo:hover {
  color: blueviolet;
}

header .main-menu{
  
  height: 75px;
  position: absolute;
  top: 20px;
  left :200px;
  bottom: 0;
  margin: auto;
  display: flex;
}
header .main-menu ul.menu{

  display: flex;
}


header .main-menu ul.menu li a{
font-size: 16px;
padding:  11px 16px;
display: block; 
color: #656565;

}

header .main-menu ul.menu li a:hover{

  color: blueviolet;
}
header .main-menu ul.login{
  display: flex;
  margin-left: 20px;

}
header .main-menu ul.login li {
  display: flex;

}
header .main-menu ul.login li span{
  padding:  7px 0;
  margin-bottom: 10px;
}

header .main-menu ul.login li a{
  font-size: 16px;
  padding:  11px 16px;
  display: block; 
  color: #656565;
} 

header .main-menu ul.login li a:hover{
  color: blueviolet;

}

/* notice */
.notice{
  top: 120px;
  display: block;
  position: relative;
}
.notice .promotion{
  width: 100%;
  background-color:  #fcf8f8;
  height: 630px;
  position: relative;
  display: block;
}
.notice .promotion .swiper-container {

  width: 1068px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -534px;
  z-index: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  top: 400px;
  left:50px;
  height: 50px;
  margin: auto;

}
.notice .promotion .swiper-slide .text {
  color: #FFF;
  font-size: 50px;
  z-index: 9;
}
.notice .product .headline{
  font-size: 40px;
  color: black;
}

.notice .product{
  position: absolute;
  display: block;
}
.notice .product .headline{
  margin: 20px;
  padding-left: 20px;
  font-size: 48px;
  
}
.product{
  display: block;
}
.product .items .bodyform {
  display: flex;
  position: relative;
  height: 400px;
  padding: 30px;
}
.product .items .bodyform .div-box{
  margin-left:10px ;
}

.product .items .bodyform .div-box p{
  text-align: center;
  margin: 10px;
  font-size :15px ;
}
.product .items .bodyform .div-box .btn{
  
  font-size :18px ;
  bottom: 0;
  margin-top: 20px;
  margin-left: 60px;
  font: 1em sans-serif;
  display: none;
  
}
.product .items .bodyform .div-box:hover .btn{
  display: block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MODAL */
.modal-content {
  background-color: #fefefe;
  margin: 12% auto; /* 12% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */                          
  height: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

.modal_left{
  width: 45%;
  height: 95%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
}

.modal_right{
  width: 45%;
  height: 95%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  float: right;
}

.modal_image1{
  width: 60%;
  height: 80%;
  padding-bottom: 20px;
}

.modal_text{
  padding: 5%;
  text-align: left;
}
/* AD */
.ad{
  top: 2000px;
  margin-top:50px;
  background-color:#dfd9d9;
  width: 100%;
  height: 400px;
  position: relative;
}
.ad .inner {
  display: block;
}
.ad p {
  top: 20px;
  text-align: left;
  font-size: 36px;
  position: absolute;
  color: rgb(124, 117, 117);
}
.ad .brands{
  position: relative;
}
.ad .brands img{
  top : 100px;
  bottom : 0;
  right: 0;
  position: absolute;

}
 /*FOOTER*/
 footer{ 
  top: 2000px;
  background-color: black;
  position: relative;
  color:#fff; 
  width:100%;
  height:100px;

  text-align: center;
  display: block;
}
footer .btn{
  border: 2px solid rgb(240, 238, 238);
  color: rgb(240, 238, 238);
}

footer .info {
  top: 50px;
  position: relative;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  padding-bottom: 10px;
}
footer .logo {
  margin: 30px auto 0;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
} 

/*SCROLL TO TOP*/
#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
